.risky {
    color: red;
}

.frozen {
    background-color: gray;
    text-decoration: line-through;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul.pagination{
    background-color: transparent;
}


button:hover{
    cursor: pointer;
}

#Address{
    width: 25rem;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.address{
    padding-left: 4px;
}

td.synth-key {
    font-size: 0.8em;
    max-width: 15em !important;
    overflow-x: auto;
}
